
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";


:root {
  --gradient-green-blue: linear-gradient(90deg, #30c67c 0%, #2979ff 100%);
}

body {
  font-family: "Inter", sans-serif;
}
