EV_venvironment/
venv/
env/
.venv/
ENV/
env.bak/
env_old/
# Environment files
.env
*.env

# OS and editor junk
.DS_Store
Thumbs.db

# IDE and notebook caches
.ipynb_checkpoints/
.vscode/
.idea/

__pycache__

# Node
client/node_modules
client/dist

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Env
**/*.env



# OS
**/.DS_Store
Thumbs.db
.history/