version: "3.9"

services:

  server:
    build:
      context: ../server
      dockerfile: Dockerfile.dev
    container_name: holistic-server
    env_file:
      - ./.env
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "5001:5000"

  client:
    build:
      context: ../client
      dockerfile: Dockerfile.dev
    container_name: holistic-client
    env_file:
      - ./.env
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
      VITE_PORT: "3000"
    depends_on:
      - server
    ports:
      - "3000:3000"
    volumes:
      - ../client:/app
      - /app/node_modules
      - vite_cache:/app/node_modules/.vite

volumes:
  vite_cache: