/* Google Font MUST come first */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Tailwind directives */
@import "tailwindcss";

/* Custom CSS */
:root {
  --gradient-green-blue: linear-gradient(90deg, #30c67c 0%, #2979ff 100%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  color: #212121;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  color: var(--color-dark-gray);
  fill: none;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.icon-md {
  width: 50px;
  height: 50px;
}

.icon-lg {
  width: 60px;
  height: 60px;
}

.btn-primary {
  background: var(--gradient-green-blue);
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.btn-primary:hover {
  filter: brightness(1.08);
}

.btn-primary:active {
  transform: scale(0.97);
}

.btn-secondary {
  background: var(--gradient-green-blue);
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.btn-secondary:hover {
  filter: brightness(1.08);
}

.btn-secondary:active {
  transform: scale(0.97);
}

.center-text-box {
  max-width: 600px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.rating-form,
.rating-form * {
  border: none !important;
  box-shadow: none !important;
}

 .rating-form button {
    background-color: #3b82f6; /* Tailwind blue-500 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .rating-form button:hover {
    background-color: #2563eb; /* Tailwind blue-600 */
  }